<div class="container">
  <nav class="left-bar">
    <a [routerLink]="[ '/']">Home</a>
    <a [routerLink]="[ '/login']">Login</a>
    <a [routerLink]="[ '/admin']">Admin</a>
  </nav>

  <div class="container-body">
    <nav class="top-bar">
      <a [routerLink]="[ '/']">Home</a>
      <a [routerLink]="[ '/login']">Login</a>
      <a [routerLink]="[ '/admin']">Admin</a>
    </nav>
    <div class="container-content">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">footer</div>
  </div>

</div>
